:root {
  --background: oklch(1 0 0);
  --foreground: oklch(0.4 0.05 230);
  --card: oklch(0.98 0 0);
  --card-foreground: oklch(0.2 0 0);
  --popover: oklch(0.75 0.18 80);
  --popover-foreground: oklch(0.25 0.05 240);
  --primary: oklch(0.55 0.2 250);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.55 0.1 220);
  --secondary-foreground: oklch(0.95 0.03 220);
  --muted: oklch(0.9 0.02 20);
  --muted-foreground: oklch(0.5 0.02 240);
  --accent: oklch(0.65 0.2 230);
  --accent-foreground: oklch(1 0 0);
  --destructive: oklch(0.5 0.2 20);
  --destructive-foreground: oklch(1 0 0);
  --border: oklch(0.75 0 0);
  --input: oklch(1 0 0);
  --ring: oklch(0.4 0.1 230);
  --chart-1: oklch(0.65 0.2 260);
  --chart-2: oklch(0.6 0.18 265);
  --chart-3: oklch(0.55 0.15 265);
  --chart-4: oklch(0.45 0.12 265);
  --chart-5: oklch(0.4 0.1 265);
  --sidebar: oklch(1 0 0);
  --sidebar-foreground: oklch(0.25 0.05 240);
  --sidebar-primary: oklch(0.65 0.2 260);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.8 0 0);
  --sidebar-accent-foreground: oklch(0.3 0.04 240);
  --sidebar-border: oklch(0.85 0.02 25);
  --sidebar-ring: oklch(0.65 0.2 260);
  --font-sans: "SAP 72", var(--font-sap-72), system-ui, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: "SAP 72 Mono", var(--font-sap-72-mono), monospace;
  --radius: 0.5rem;
  --shadow-2xs: 2px 2px 10px 4px oklch(0.65 0.01 260 / 0.09);
  --shadow-xs: 2px 2px 10px 4px oklch(0.65 0.01 260 / 0.09);
  --shadow-sm: 2px 2px 10px 4px oklch(0.65 0.01 260 / 0.18), 2px 1px 2px 3px oklch(0.65 0.01 260 / 0.18);
  --shadow: 2px 2px 10px 4px oklch(0.65 0.01 260 / 0.18), 2px 1px 2px 3px oklch(0.65 0.01 260 / 0.18);
  --shadow-md: 2px 2px 10px 4px oklch(0.65 0.01 260 / 0.18), 2px 2px 4px 3px oklch(0.65 0.01 260 / 0.18);
  --shadow-lg: 2px 2px 10px 4px oklch(0.65 0.01 260 / 0.18), 2px 4px 6px 3px oklch(0.65 0.01 260 / 0.18);
  --shadow-xl: 2px 2px 10px 4px oklch(0.65 0.01 260 / 0.18), 2px 8px 10px 3px oklch(0.65 0.01 260 / 0.18);
  --shadow-2xl: 2px 2px 10px 4px oklch(0.65 0.01 260 / 0.45);
}

.dark {
  --background: oklch(0.95 0.03 150);
  --foreground: oklch(0.85 0.05 230);
  --card: oklch(0.2 0.02 25);
  --card-foreground: oklch(0.85 0.05 230);
  --popover: oklch(0.2 0.02 25);
  --popover-foreground: oklch(0.85 0.05 230);
  --primary: oklch(0.65 0.2 250);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.3 0.03 200);
  --secondary-foreground: oklch(1 0 0);
  --muted: oklch(0.2 0.02 25);
  --muted-foreground: oklch(0.65 0.03 230);
  --accent: oklch(0.7 0.15 140);
  --accent-foreground: oklch(0.8 0.02 230);
  --destructive: oklch(0.6 0.2 20);
  --destructive-foreground: oklch(0.15 0.02 30);
  --border: oklch(0.25 0.02 25);
  --input: oklch(0.25 0.02 25);
  --ring: oklch(0.7 0.2 250);
  --chart-1: oklch(0.7 0.2 250);
  --chart-2: oklch(0.65 0.2 260);
  --chart-3: oklch(0.6 0.18 265);
  --chart-4: oklch(0.55 0.15 265);
  --chart-5: oklch(0.45 0.12 265);
  --sidebar: oklch(0.25 0.02 25);
  --sidebar-foreground: oklch(0.85 0.05 230);
  --sidebar-primary: oklch(0.7 0.2 250);
  --sidebar-primary-foreground: oklch(0.15 0.02 30);
  --sidebar-accent: oklch(0.3 0.01 25);
  --sidebar-accent-foreground: oklch(0.8 0.02 230);
  --sidebar-border: oklch(0.25 0.02 25);
  --sidebar-ring: oklch(0.7 0.2 250);
  --font-sans: "SAP 72", var(--font-sap-72), system-ui, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: "SAP 72 Mono", var(--font-sap-72-mono), monospace;
  --radius: 1.25rem;
  --shadow-2xs: 2px 2px 10px 4px oklch(0 0 0 / 0.09);
  --shadow-xs: 2px 2px 10px 4px oklch(0 0 0 / 0.09);
  --shadow-sm: 2px 2px 10px 4px oklch(0 0 0 / 0.18), 2px 1px 2px 3px oklch(0 0 0 / 0.18);
  --shadow: 2px 2px 10px 4px oklch(0 0 0 / 0.18), 2px 1px 2px 3px oklch(0 0 0 / 0.18);
  --shadow-md: 2px 2px 10px 4px oklch(0 0 0 / 0.18), 2px 2px 4px 3px oklch(0 0 0 / 0.18);
  --shadow-lg: 2px 2px 10px 4px oklch(0 0 0 / 0.18), 2px 4px 6px 3px oklch(0 0 0 / 0.18);
  --shadow-xl: 2px 2px 10px 4px oklch(0 0 0 / 0.18), 2px 8px 10px 3px oklch(0 0 0 / 0.18);
  --shadow-2xl: 2px 2px 10px 4px oklch(0 0 0 / 0.45);
}